@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<h2 class="title">Forgotten Password Confirmation</h2>
<div class="alert alert-success" role="alert">
    The email has been sent. Please check your inbox for a link to reset your password. Thank you.
</div>