@{
    ViewBag.Title = "Home Page";
}

<div id="HomepageTop">
    <p>
        Welcome to our exam management system. Manage all of your exams in the most efficient and pleasent way as possible! Stress free test, assignment and exam taking at the
        simple click of a button. Create, take and correct projects with ease with our hassle-free system! Be it in-class work, interview questions, assignments, tests or quizzes, ZPoems is a
        quality tool guranteed to improve your quality of life.
    </p>
    <p>
        Implement our system with your workflow with our fast integration system. Please contact us to ensure a quality installation! Get a copy of our user manual to
        ensure quality use of our product. Get to learn our most sought after features and help reduce paper waste! Efficient user management, proctor exams and more features soon to come!
    </p>
</div>

<div class="media">
    <div class="media-body">
        <h5 class="mt-0">Media object</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
    <span class="fas fa-server fa-10x align-self-center mr-5"></span>
</div>

<div class="card mb-3 border-0">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/Content/Images/pic1.jpg" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>

<div class="media">
    <span class="fas fa-shield-alt fa-10x align-self-center mr-5"></span>
    <div class="media-body">
        <h5 class="mt-0">Testtestwesty</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac pharetra lacus. Duis convallis consequat dui, quis congue turpis ultricies posuere. Phasellus id enim semper, sollicitudin neque viverra, aliquam est. Suspendisse at nisi ex. Praesent facilisis orci ex, nec scelerisque magna ullamcorper sed. Nulla porttitor lacus urna, nec consectetur tellus placerat vel. Suspendisse potenti. Cras efficitur pharetra posuere. Maecenas massa tellus, pellentesque auctor venenatis nec, placerat in nulla. Proin molestie non orci ac suscipit. Donec non blandit velit.
        </p>
    </div>
</div>


<!--
<div id="informaticCard" class="card mb-3 border-0" style="font-size: 24px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <span class="fas fa-shield-alt fa-10x"></span>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>
-->

<div class="card mb-3 border-0">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/pic2.jpg" class="card-img">
        </div>
    </div>
</div>

<div class="media">
    <div class="media-body">
        <h5 class="mt-0">Media object</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
    <span class="fas fa-sitemap fa-10x align-self-center mr-5"></span>
</div>

<div class="card mb-3 border-0">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/Content/Images/pic3.jpg" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>

<div class="media">
    <span class="fas fa-user-secret fa-10x align-self-center mr-5"></span>
    <div class="media-body">
        <h5 class="mt-0">Testtestwesty</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac pharetra lacus. Duis convallis consequat dui, quis congue turpis ultricies posuere. Phasellus id enim semper, sollicitudin neque viverra, aliquam est. Suspendisse at nisi ex. Praesent facilisis orci ex, nec scelerisque magna ullamcorper sed. Nulla porttitor lacus urna, nec consectetur tellus placerat vel. Suspendisse potenti. Cras efficitur pharetra posuere. Maecenas massa tellus, pellentesque auctor venenatis nec, placerat in nulla. Proin molestie non orci ac suscipit. Donec non blandit velit.
        </p>
    </div>
</div>

<div style="padding-top:20px">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac pharetra lacus. Duis convallis consequat dui, quis congue turpis ultricies posuere. Phasellus id enim semper, sollicitudin neque viverra, aliquam est. Suspendisse at nisi ex. Praesent facilisis orci ex, nec scelerisque magna ullamcorper sed. Nulla porttitor lacus urna, nec consectetur tellus placerat vel. Suspendisse potenti. Cras efficitur pharetra posuere. Maecenas massa tellus, pellentesque auctor venenatis nec, placerat in nulla. Proin molestie non orci ac suscipit. Donec non blandit velit.

        Nunc accumsan placerat aliquam. Nullam nibh orci, sodales eget imperdiet eu, faucibus sit amet ipsum. Donec varius metus ac elit hendrerit, vel sollicitudin lacus aliquet. Phasellus hendrerit, metus nec fermentum ultricies, enim elit tincidunt neque, a finibus ipsum justo congue lacus. Proin interdum convallis leo at viverra. Vivamus mattis, mauris vitae viverra malesuada, erat massa sagittis tortor, et luctus dui felis sed ex. Quisque euismod mauris nec vulputate finibus. Mauris gravida vel sem at egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque turpis metus, sollicitudin eu tellus ac, tempor posuere augue. Ut tempor ipsum sed ipsum mollis malesuada.

    </p>
</div>
