@{
    ViewBag.Title = "Home Page";
}

<div style="padding-bottom:20px">
    <h3>Welcome to ZPoems</h3>
    <p>
        Welcome to our exam management system. Manage all of your exams in the most efficient and pleasent way as possible! Stress free test, assignment and exam taking at the
        simple click of a button. Create, take and correct projects with ease with our hassle-free system! Be it in-class work, interview questions, assignments, tests or quizzes, ZPoems is a
        quality tool guranteed to improve your quality of life.
    </p>

    <p>
        Implement our system with your workflow with our fast integration system. Please contact us to ensure a quality installation! Get a copy of our user manual to
        ensure quality use of our product. Get to learn our most sought after features and help reduce paper waste! Efficient user management, proctor exams and more features soon to come!
        So come on down to the jihad temple where 72 raisins await you Mohammed!
    </p>
</div>

<div class="HomepageCarousel">
    <div id="carouselHome" class="carousel slide" data-ride="carousel" style="width:700px; margin: 0 auto">
        <ol class="carousel-indicators">
            <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
            <li data-target="#carouselHome" data-slide-to="1"></li>
            <li data-target="#carouselHome" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/Images/pic1.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Quality Education</h3>
                    <p>Ensure that you get the best quailty education.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/pic2.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Efficent Testing</h2>
                    <p>Save paper, save time, save resources!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/pic3.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Fast Results</h2>
                    <p>Quality delivery, fast corrections and secure.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>

<div style="padding-top:20px">
    <p>
        Security is paramount for our system where your results are stored in the safest and most secure database. Making a lot of use of blockchain penus technology
        it will ensure a good thoroughput of work from all of the entities that make use of our software. GURANTEED security with round the clock care. Seniour citizens can sleep
        comfortable at night knowing that their investments are closely guarded withinour online exam management system. Rudi Camilleri himself has made use of our system and if this
        does not highlight our quality user experience I do not now what will. Secured by the spirit of Saddam Hussein himself while having a threesom with Margaret Tatcher and Gaddafi,
        not even an islamic revolution during the second invasion of the Falkland islands will keep your students and costomers from taking their tests and exams. Our software is more
        secure than a little girl in a convent, your exams are guranteed to butt fuck any of your students no matter the cost. Suicide prevention hotline is not included with our basic package.
    </p>
</div>
