@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Invigilator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Proctor Dashboard</h2>
<hr />
<div class="card-deck managementFooter">
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Invigilation Time Table</h5>
            <p class="card-text">To know when you have invigilation duties and where they are located.</p>
            @Html.ActionLink("Schedule", "Schedule", "Invigilation", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Access Codes</h5>
            <p class="card-text">When an exam is about to start click here to get the Access Code for students to access the exam.</p>
            @Html.ActionLink("Access Codes", "MakeCode", "Invigilation", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
</div>
<div class="card-deck managementFooter bottom-card-deck">
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Report Misbehaviour</h5>
            <p class="card-text">If you notice any student cheating or misbehaving during an exam report here!</p>
            @Html.ActionLink("Report Here", "Index", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Identity Checking</h5>
            <p class="card-text">This is where you can compare the student's photos with their registration photos to make sure they are who they claim to be.</p>
            @Html.ActionLink("Manage Subjects", "Index", "Subjects", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        </div>
    </div>
</div>

