@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Departent Management Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Management Dashboard</h2>


<div style="background-color: #EEEEEE; border: 1px solid #AAAAAA; padding-left: 15px; padding-top: 15px;  box-shadow: 5px 5px 10px #AAAAAA;">

    <div class="row">

        <div class="col-md-4" style="background-color: #EDFFDC; box-shadow: 5px 5px 5px #BBBBBB; width: 30%; height: 200px">
            <h2>Students' Enrollments</h2>
            <p>
                To enroll a student into a subject
                or to view and edit enrollments, 

                click here!

            </p>
            <p class="btn btn-default" style="box-shadow: 5px 5px 3px #99CCA9;">@Html.ActionLink("Enrollments »", "Index", "Enrollments") </p>
        </div>

        <div style="  width: 5%"> </div>

        <div class="col-md-4" style="background-color: #EDFFDC; box-shadow: 5px 5px 5px #BBBBBB; width: 30%; margin-left: 2%; margin-right: 2%; height: 200px">
            <h2> Examiner to Subject</h2>
            <p>
                Click here to manage which persons are associated to a
                subject, giving them rights to edit and
                correct the exam paper for that subject.

            </p>
            <p class="btn btn-default" style="box-shadow: 5px 5px 3px #99CCA9;">@Html.ActionLink("Subject Examiners »", "Index", "Teachings") </p>
        </div>

        <div style="  width: 5%"> </div>

        <div class="col-md-4" style="background-color: #EDFFDC; box-shadow: 5px 5px 5px #BBBBBB; width: 30%; margin-left: 2%; margin-right: 2%; height: 200px">
            <h2> Manage Exams</h2>
            <p>
                Edit each subject's Exam Session. 
                Assign Place, Date, Time and 
                Invigilators to each Exam here.

            </p>
            <p class="btn btn-default" style="box-shadow: 5px 5px 3px #99CCA9;">@Html.ActionLink("Manage Exam Sessions »", "Index", "ExamSessions") </p>
        </div>
    </div>


    <div class="row" style=" width: 100%; height: 20px;">
        <p>


        </p>
    </div>

    <div class="row">
        <div class="col-md-4" style="background-color: #EDFFDC; box-shadow: 5px 5px 5px #BBBBBB; width: 30%; height: 200px">
            <h2>Manage Subjects</h2>
            <p>
                Click here to create or edit Subjects for your department

            </p>
            <p class="btn btn-default" style="box-shadow: 5px 5px 3px #99CCA9;"> @Html.ActionLink("Manage Subjects »", "Index", "Home") </p>
        </div>
        <div class="col-md-4">
            <p>


            </p>
        </div>
        <div class="col-md-4">
            <p>


            </p>
        </div>
    </div>
    <div class="row" style="  width: 100%; height: 20px;">
        <p>


        </p>
    </div>
</div>
