<footer id="footerMain" class="border-top">
    <!--
    <ul id="footerList" class="list-group list-group-horizontal flex-fill">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
    </ul>
    
    <div id="footerList" class="list-group list-group-horizontal">
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    </div>
        -->

    <ul id="footerText" class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item">&sdot;</li>
        <li class="list-inline-item"><a href="#">Contact Us</a></li>
    </ul>
    <p id="footerText">&copy; @DateTime.Now.Year - GAPT Application</p>
</footer>