@{
    ViewBag.Title = "Generate Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card  managementFooter">
    <div class="card-header">
        <h2 class="card-title">Generate Code For Exam: <em>@ViewBag.Exam</em></h2>
    </div>
    <div class="card-body">
        @if (@ViewBag.Exam != null)
        {<p>For Exam: @ViewBag.Exam</p>}
    </div>
</div>
