
@{
    ViewBag.Title = "ShotsChecked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Images Checked</h2>

Kindly, check this section later if new exams remain to be completed or checked.

Thanks!

@Html.ActionLink("Go to Dashboard", "Dashboard", "Home", new { }, new { @class = "btn btn-primary style-margin-bottom" })

