#navbar-homepage {
    background-color: #99c9e5;
    border-top: 4px solid #c9e599;
}

#bodycontainer {
    margin-top:50px;
}

#fParagraph {
    margin-top:20px;
}

#loginRow {
    display:flex;
    justify-content:center;
}

.card {
    margin-top: 100px;
}

.media {
    margin-top: 100px;
}

#footerMain {
    margin: 80px 0px 0px 0px;
    padding-top: 10px;
}

#footerText {
    font-size: 12px;
}

#forgotPwd {
    text-align: end;
}

#formSection {
    display:flex; 
    justify-content:center;
}

.managementFooter {
    margin-top: 0px;
    margin-bottom: -40px;
}

.bottom-card-deck {
    margin-top: 60px;
}

#buttonPadding {
    padding-top:20px;
}

#logoutLink {
    padding-top:14px;
}

.coltop10px {
    padding-top:10px;
}

#tableCard {
    margin-top:30px;
    margin-bottom:-40px;
}

.coltop2px {
    padding-top:2px;
}

.form-style {
    max-width: 100%;
}

.style-margin-bottom {
    margin-bottom: 10px;
}

#videoElement, #photo {
    width: 365px;
    height: 275px;
    background-color: #666;
}
.QuestionButton {
    color: white;
    border-Color: white;
    font-Weight: 600;
    background-Color: lightslategray;
}

.QuestionButton.Started {
    color: white;
    border-Color: white;
    font-Weight: 600;
    background-Color: lightgrey;
}

.QuestionButton.Finished {
    color: white;
    border-Color: white;
    font-Weight: 600;
    background-Color: lightgreen;
}

.QuestionButton.Active {
    color: green;
    border-Color: lightgreen;
    font-Weight: 900;
    background-Color: lightcyan;
}

.bottomButton {
    margin-bottom:20px;
}