#navbar-homepage {
    background-color: #99c9e5;
    border-top: 4px solid #c9e599;
}

#bodycontainer {
    margin-top:50px;
}

#fParagraph {
    margin-top:20px;
}

#loginRow {
    display:flex;
    justify-content:center;
}

#loginCard {
    margin-top: 0px;
}

.card {
    margin-top: 100px;
}

.media {
    margin-top: 100px;
}

#footerMain {
    margin: 80px 0px 0px 0px;
    padding-top: 10px;
}

#footerText {
    font-size: 12px;
}

#forgotPwd {
    text-align: end;
}

#formSection {
    display:flex; 
    justify-content:center;
}