@model Group_APT.Models.Enrollment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubjectCode" class="control-label"></label>
                <select asp-for="SubjectCode" class ="form-control" asp-items="ViewBag.SubjectCode"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExamMark" class="control-label"></label>
                <input asp-for="ExamMark" class="form-control" />
                <span asp-validation-for="ExamMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatNumber" class="control-label"></label>
                <input asp-for="SeatNumber" class="form-control" />
                <span asp-validation-for="SeatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionStatus" class="control-label"></label>
                <select asp-for="SessionStatus" class="form-control"></select>
                <span asp-validation-for="SessionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalAssessment" class="control-label"></label>
                <select asp-for="FinalAssessment" class="form-control"></select>
                <span asp-validation-for="FinalAssessment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

