@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Examiner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Examiner's Dashboard</h2>
<hr />
<div class="card-deck managementFooter">
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Edit Exam Questions</h5>
            <p class="card-text">To create or modify existing questions, so that they can be placed in an Exam later on; click here!</p>
            <a class="btn btn-primary" href="@Url.Action("EditQuestions", "Examiner")">Questions</a>
        </div>
    </div>
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Edit Exam Papers</h5>
            <p class="card-text">You can add or remove questions to Exam Papers and organise their order here!</p>
            <a class="btn btn-primary" href="@Url.Action("EditPapers", "Examiner")">Papers</a>
        </div>
    </div>
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Correct Exams</h5>
            <p class="card-text">Choose what subject to correct. View the students' individual answers and assign marks!</p>
            <a class="btn btn-primary" href="@Url.Action("CorrectExam", "Examiner")">Corrections</a>
        </div>
    </div>
</div>
<div class="card-deck managementFooter bottom-card-deck">
    <div class="card managementFooter">
        <div class="card-body">
            <h5 class="card-title">Statistics</h5>
            <p class="card-text">This is where you can view High Scores, Averages, Success Rates and other statistics about past exams!</p>
            <a class="btn btn-primary" href="@Url.Action("Statistics", "Examiner")">Statistics</a>
        </div>
    </div>
</div>
