@using Test2.Models.DBModels
@model IEnumerable<Test2.Models.DBModels.PaperQuestion>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function show(x) {
        document.getElementById('QuestionTextShown').innerHTML = x;
    }
</script>

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RelatedQuestion.QuestionId)
        </th>
        <th width ="70%">
            @Html.DisplayNameFor(model => model.RelatedQuestion.QuestionText)
        </th>
    </tr>
    
    @{
        List<PaperQuestion> paperQuestions = ViewBag.PaperQuestions;
        List<Question> questions = ViewBag.Questions;
    }

    <tr>
        <th>
            @foreach (var item in paperQuestions)
            {
            <button style="width: 100%; float: right" OnClick ="show('@questions.Where(x => x.QuestionId == item.QuestionId).SingleOrDefault().QuestionText.ToString()')">
                @Html.DisplayFor(modelItem => item.NumberInPaper)
            </button>
            }
        </th>
        <th>
            <p id ="QuestionTextShown">
                test
            </p>
        </th>
    </tr>
</table>
