@{
    ViewBag.Title = "ValidateStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card managementFooter">
    <div class="card-header">
        <h5 class="card-title">Enter you access code</h5>
    </div>
    @if (ViewData["ExamId"] == null)
    {
        <b>There is no exam at this time</b>
    }
    else
    {
        <form method="post">
            <div class="card-body">
                @Html.Hidden("ExamId")
                <div class="form-group row">
                    <p class="col-sm-2 col-control-label">Access Code: </p>
                    <div class="col-sm-10">
                        <input type="text" id="AccessCode" name="AccessCode" />
                    </div>
                </div>
                @if (ViewData["Error"] != null)
                {
                    <p style="color: red">
                        @ViewData["Error"]
                    </p>
                }
                <div class="form-group row">
                    <div id="buttonPadding" class="col-sm-10">
                        <input type="submit" value="Enter Code" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "Dashboard", "Home", new { }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </form>
    }
</div>
